.remindertool {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.pd-top {
  padding-top: 20vh;
}

.pd-top-main {
  padding-top: 18vh;
}
main.container {
  margin: 0 120px;
  padding: 0 20px;
}
